<!-- Post Content Column -->
<div class="col-lg-8">

  <!-- Title -->
  <h1 class="mt-4"><%= @post.title %></h1>

  <!-- Author -->
  <p class="lead">
  </p>

  <hr>

  <!-- Date/Time -->

  <%= @post.body %>

  <hr>

  <!-- Post Content -->
  <p><%= @post.created_at %></p>  <hr>


  <!-- Comments Form -->
  <%= react_component("CommentsApp", { comments: @comments, replies: @replies, csrf_token: form_authenticity_token, post_id: @post.id }) %>

</div>