/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    overflow-wrap: break-word;
}


.body {
    font-family: Noto Sans,Arial,sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    overflow: auto;
    padding-bottom: 1px;
    margin-bottom: -1px;
    overflow-wrap: break-word;
}

.time {
    color: #020202;
    font-size: 14px;
    margin-bottom: 10px;
    max-width: 800px;
}

.reply {
    margin-left: 30px; /* Пример отступа для ответов */
}

.comment-container {
    margin-bottom: 10px; /* Пример отступа между комментариями */
}

.border-bottom {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
